<div class="container">
  <%= form_for(resource, html: { class: "form-devise form-horizontal" }, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <h2 class="form-devise-heading">Sign up</h2>

    <%= devise_error_messages! %>

    <%= f.text_field :tenant, :autofocus => true, class: "form-control", placeholder: "Company Name" %>

    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>

    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>

    <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password Confirmation"  %>

    <%= f.submit "Sign up", class: "btn btn-lg btn-success pull-right" %>

    <hr>

    <%= render "devise/shared/links" %>
  <% end %>

</div>
