<div class="row well">
  <%= render "admin/shared/navigation" %>

  <div class="col-md-9">
    <div class="well">
      <%= form_for([:admin, @loan_scheme], html: { class: "form-horizontal", role: "form" }) do |f| %>
        <h3>Manage Loan Scheme</h3>

        <% if @loan_scheme.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@loan_scheme.errors.count, "error") %> prohibited this loan_scheme from being saved:</h2>

            <ul>
            <% @loan_scheme.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :name, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.text_field :name, autofocus: true, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :description, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.text_area :description, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :interest_rate, class: "col-md-3 control-label" %>
          <div class="col-md-9">
            <%= f.text_field :interest_rate, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :minimum_amount, class: "col-md-3 control-label" %>
          <div class="col-md-3">
            <%= f.text_field :minimum_amount, class: "form-control" %>
          </div>

          <%= f.label :maximum_amount, class: "col-md-3 control-label" %>
          <div class="col-md-3">
            <%= f.text_field :maximum_amount, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :income, 'Income', class: "col-md-3 control-label" %>
          <div class="col-md-3">
            <%= f.text_field :income, class: "form-control" %>
          </div>
          <div class="col-md-2">
            <%= f.check_box :is_income_before_tax %>
            <%= f.label :is_income_before_tax, 'Before Tax?', class: "control-label" %>
          </div>

          <div class="col-md-4">
            <%= f.check_box :need_income_statement %>
            <%= f.label :need_income_statement, 'Need Income Statement?', class: "control-label" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :age_requirement, "Age Requirement", class: "col-md-3 control-label" %>

          <%= f.label :from, "from", class: "col-md-1 control-label" %>

          <div class="col-md-3">
            <%= f.text_field :minimum_age_requirement, class: "form-control" %>
          </div>

          <%= f.label :to, "to", class: "col-md-1 control-label" %>

          <div class="col-md-3">
            <%= f.text_field :maximum_age_requirement, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :loan_period, "Loan Period", class: "col-md-3 control-label" %>

          <%= f.label :from, "from", class: "col-md-1 control-label" %>

          <div class="col-md-3">
            <%= f.text_field :minimum_loan_period, class: "form-control" %>
          </div>

          <%= f.label :to, "to", class: "col-md-1 control-label" %>

          <div class="col-md-3">
            <%= f.text_field :maximum_loan_period, class: "form-control" %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :fastest_approval_day, class: "col-md-3 control-label" %>
          <div class="col-md-3">
            <%= f.text_field :fastest_approval_day, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.check_box :need_mortgage %>
            <%= f.label :need_mortgate, 'Need Mortgage?', class: "control-label" %>
          </div>

          <div class="col-md-3">
            <%= f.check_box :need_guarantor %>
            <%= f.label :need_guarantor, 'Need Guarantor?', class: "control-label" %>
          </div>
        </div>


        <div class="form-group">
          <div class="col-md-offset-3 col-md-9">
            <%= f.submit "Submit", class: "btn btn-success" %>
            <%= link_to "Cancel", admin_loan_schemes_url, class: "btn btn-default" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
