<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Cameloan" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Cameloan" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <%= render 'layouts/admin/navigation' %>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="span12">
          <%= render 'layouts/admin/messages' %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; Cameloan Money 2014</p>
      </footer>
    </div> <!--! end of .container -->
  </body>
</html>
