<div class="row well">
  <%= render "admin/shared/navigation" %>

  <div class="col-md-9">
    <ul class="nav nav-tabs">
      <li><%= link_to "Profile", "#profile", "data-toggle" => "tab" %></li>
      <li><%= link_to "Billing", "#billing", "data-toggle" => "tab" %></li>
    </ul>

    <%= form_for([:admin, @tenant], url: admin_setting_path(@tenant), html: { class: "form-horizontal", role: "form" }) do |f| %>

      <% if @tenant.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

          <ul>
          <% @tenant.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="well">
        <div class="tab-content">
          <%= render partial: "profile", locals: {f: f} %>

          <%= render partial: "billing", locals: {f: f} %>
        </div> <!-- End of .tab-content -->

        <div class="form-group">
          <div class="col-lg-offset-3 col-lg-5">
            <%= f.submit "Save", class: "btn btn-success" %>
            <%= link_to "Cancel", admin_home_dashboard_url, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

